<div class="container">
    <form class="pt-5">
        <h5>Registro de Persona</h5>


        <div class="container">
            <div *ngIf="error" class="alert alert-danger" role="alert">
                {{mensajeError}}
            </div>
        </div>

        <div class="container">
            <div *ngIf="guardar" class="alert alert-success" role="alert">
                Se guardó correctamente.
            </div>
        </div>

        <br>
        <div class="form-outline mb-4">
            <label class="form-nombre" for="formNombre">Nombre</label>
            <input type="text" [(ngModel)]="nombresG" name="nombresG" class="form-control"/>
        </div>

        <div class="form-outline mb-4">
            <label class="form-apellido" for="formApellido">Apellido</label>
            <input type="text" [(ngModel)]="apellidosG" name="apellidosG" class="form-control" />
        </div>

        <div class="form-outline mb-4">
            <label class="form-cedula" for="formCedula">Cédula</label>
            <input type="number" [(ngModel)]="cedulaG" name="cedulaG" class="form-control" />
        </div>

        <div class="row">
            <div class="col-12">
                <label class="form-fecha" for="formFecha">Fecha</label>
            </div>
            <div class="col-12">
                <dp-date-picker [(ngModel)]="fechaG" name="fechaG" ></dp-date-picker>
            </div>
        </div>

        <div class="pt-5"> 
            <button type="button" (click)="guardarPersona()" class="btn btn-primary btn-block mb-4 pt-3">Guardar</button>
        </div>

    </form>
</div>