<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">EPS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li  (click)="crear()" [class]="'nav-item '+ (activeCrear?'active': '')">
          <a class="nav-link" >Crear</a>
        </li>
        <li   (click)="listar()" [class]="'nav-item '+ (activeListar?'active': '')">
          <a class="nav-link">Listar</a>
        </li>
      </ul>
    </div>
  </nav>